nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    border: 1px solid pink;
    width: 150px;
    margin: 10px;
    background-color: darkred;
    color: white;
    display: inline-block;
}

nav li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    background-image: linear-gradient(to bottom, #136ef6, #165fe4, #1651d2, #1543c0, #1335ae);
}

nav li a:hover{
    background-color: pink;
    background-image: linear-gradient(to top, #136ef6, #165fe4, #1651d2, #1543c0, #1335ae);
}


.bordertop {
    border-top: 1px solid red;
}

.borderbottom { 
    border-bottom: 1px solid green; 
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.borderright {
    border-right: 1px solid #0000ff;
}
  
  .borderleft {
    border-left: 1px solid #ff00ff;
}

.rainbowborder {
    border-top: 1px solid #ff0000;
    border-bottom: 2px dotted #00ff00;
    border-right: 3px solid #0000ff;
    border-left: 4px solid #ff00ff;
}    

.blockimg {
    display: block;
}
  